@import '../../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';
@import '../../bower_components/font-awesome/scss/font-awesome.scss';
// Typography
$base-font-family: $helvetica;
// Colors
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;
$very-light-gray: #fafafa;
$base-font-color: $dark-gray;
$base-background-color: $very-light-gray;
$main: #0070fb;
$main-post: #79f7d9;
$darker-main: #00306d;
$light-text: #adc5fd;
$dark-text: #1a1d72;
body
{
    font-family: $base-font-family;

    color: $base-font-color;
    background-color: $base-background-color;
}

//----------------Login--------------//
.login-view
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    background-color: rgba(0, 0, 0, .7);

    @include clearfix();
    .login-container
    {
        position: absolute;
        top: 50%;
        left: 50%;

        padding: 30px;

        transform: translate(-50%, -50%);
        text-align: center;

        border-radius: 5px;
        background: $main;
        > *
        {
            display: block;
        }
        h1
        {
            white-space: nowrap;

            color: white;
        }
        input[type='text']
        {
            line-height: 20px;

            width: 100%;

            text-align: center;
        }
        input[type='submit']
        {
            width: 300px;
            margin: 0 auto;
            margin-top: 20px;
            padding: 15px 0;

            text-transform: uppercase;
            word-break: break-all;

            color: white;
            border: none;
            border-radius: 3px;
            background: $darker-main;
        }
    }
}

//---------------Create Form---------------//
.create-form
{
    position: fixed;
    bottom: 0;

    width: 100%;
    padding: 10px;

    background: white;
    input
    {
        line-height: 30px;

        width: 85%;
        margin-left: 5%;
        padding: 5px 15px 5px 50px;

        border: 1px solid grey;
        border-radius: 8px;
        outline: none;
    }
    i
    {
        font-size: 48px;

        position: absolute;
        top: 7px;

        margin-left: 5%;

        cursor: pointer;

        color: $main;
    }
}

.list-view
{
    margin-bottom: 100px;
}

.list-item
{
    width: fit-content;
    margin: 20px 0;
    padding-left: 20px;

    list-style: none;
    .item-container
    {
        display: block;

        border-radius: 7px;
        background: $main-post;
        > *
        {
            display: inline-block;
        }
        h1
        {
            font-size: 18px;
            line-height: 25px;

            width: 20%;
            min-width: 200px;
            padding: 0 20px;

            text-align: center;
            text-transform: uppercase;

            color: $dark-text;
        }
        p
        {
            // width: 75%;	
            min-width: 100px;
            padding: 0 40px 0 20px;

            vertical-align: top;

            color: $dark-text;
            border-left: 1px solid #bafbf0;
        }
    }
    .created
    {
        font-size: 14px;

        margin-top: 0;
        margin-left: 225px;
    }
}
